* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

br {
  margin-top: 10rem;
}

.table > :nth-child(2n) {
  background-color: #fceaea;
}

.row {
  display: grid;
  grid-template-columns: 32rem 10rem 6rem 6rem 6rem 6rem;
  border-bottom: 1px solid gray;
}
.row:hover {
  background-color: #ccc;
  transition: 0.2s all;
}

.col1 {
  padding: 0.4rem;
}

.col {
  text-align: center;
  padding: 0.3rem;
}

.signupButton,
.unsignButton {
  padding: 0.4rem;
}